body {
    background-image: url("https://www.google.co.in/search?q=birthday+background+images&source=lnms&tbm=isch&sa=X&ved=0ahUKEwikrP2nza_YAhXHMY8KHRARB1QQ_AUICigB&biw=1366&bih=588#imgdii=JuzeuyS0qQx07M:&imgrc=srgwLpWRjRmbHM:");
 background-repeat: no-repeat;
    background-position: center;
 background-attachment: fixed;
}
h1,p{
align:center;
}
